<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/Anamoly_detection_use_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
cross_bar_df = pd.read_csv('/content/Crossbar_Unit1 (2) (1).csv',index_col=False)

In [0]:
cross_bar_df.head()

   Unnamed: 0                 time  ...  d_pressure_mean    rpm_mean
0           0  2019-04-05 02:30:00  ...       963.233788  956.126375
1           1  2019-04-05 03:30:00  ...       955.180639  957.189625
2           2  2019-04-05 04:30:00  ...       950.421229  957.718375
3           3  2019-04-05 05:30:00  ...       951.068734  955.242250
4           4  2019-04-05 06:30:00  ...       951.185184  958.628500

[5 rows x 13 columns]

In [0]:
cross_bar_df.shape

(13179, 13)

In [0]:
cross_df2 = cross_bar_df[cross_bar_df.columns[1:13]]

In [0]:
cross_df2.head()

                  time  cyl  ...  d_pressure_mean    rpm_mean
0  2019-04-05 02:30:00  1.0  ...       963.233788  956.126375
1  2019-04-05 03:30:00  1.0  ...       955.180639  957.189625
2  2019-04-05 04:30:00  1.0  ...       950.421229  957.718375
3  2019-04-05 05:30:00  1.0  ...       951.068734  955.242250
4  2019-04-05 06:30:00  1.0  ...       951.185184  958.628500

[5 rows x 12 columns]

In [0]:
column_names = cross_df2.columns[2:]

In [0]:
column_names

Index(['s_temp_crank', 'd_temp_crank', 's_pressure_crank', 'd_pressure_crank',
       'rpm_crank', 's_temp_mean', 'd_temp_mean', 's_pressure_mean',
       'd_pressure_mean', 'rpm_mean'],
      dtype='object')

In [0]:
cross_bar_df['s_temp_crank'].mean()

83.69414167501223

In [0]:
column_means = [cross_bar_df[column].mean() for column in column_names]
column_mins = [cross_bar_df[column].min() for column in column_names]
column_maxs = [cross_bar_df[column].max() for column in column_names]

In [0]:
def apply_norm(column_df,i):
  column_df = column_df - column_mins[i]
  column_df = column_df/denom[i]

In [0]:
denom = [x1 - x2 for (x1, x2) in zip(column_maxs, column_mins)]

In [0]:
[column for column in column_names]

['s_temp_crank',
 'd_temp_crank',
 's_pressure_crank',
 'd_pressure_crank',
 'rpm_crank',
 's_temp_mean',
 'd_temp_mean',
 's_pressure_mean',
 'd_pressure_mean',
 'rpm_mean']

# Normalisation 
We normalise with the following formula
(x - x.min)/(x.max - x.min)

here (x.max - x.min) is considered as a list denom

In [0]:
i = 0
for column in column_names:
  cross_df2[column] = cross_df2[column] - column_mins[i]
  cross_df2[column] = cross_df2[column]/denom[i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [0]:
cross_df2.head()

                  time  cyl  ...  d_pressure_mean   rpm_mean
0  2019-04-05 02:30:00  1.0  ...        10.142075  10.063987
1  2019-04-05 03:30:00  1.0  ...        10.053597  10.075669
2  2019-04-05 04:30:00  1.0  ...        10.001306  10.081478
3  2019-04-05 05:30:00  1.0  ...        10.008420  10.054274
4  2019-04-05 06:30:00  1.0  ...        10.009700  10.091478

[5 rows x 12 columns]

In [0]:
cross_df2.columns

Index(['time', 'cyl', 's_temp_crank', 'd_temp_crank', 's_pressure_crank',
       'd_pressure_crank', 'rpm_crank', 's_temp_mean', 'd_temp_mean',
       's_pressure_mean', 'd_pressure_mean', 'rpm_mean'],
      dtype='object')