<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/bar_glyphs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as pygo
import numpy as np

In [0]:
df = pd.read_csv('/content/2018WinterOlympics.csv')

In [3]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [0]:
data = [pygo.Bar(x=df['NOC'],y=df['Total'])]
layout = pygo.Layout(title = 'Medals')

In [12]:
fig = pygo.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'