<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/bar_glyphs02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as pygo
import numpy as np

In [0]:
df = pd.read_csv('/content/2018WinterOlympics.csv')

In [3]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [0]:
trace1 = pygo.Bar(x=df['NOC'],y=df['Gold'],marker={'color': '#FFD700'})
trace2 = pygo.Bar(x=df['NOC'],y=df['Silver'],marker={'color': '#9EA0A1'})
trace3 = pygo.Bar(x=df['NOC'],y=df['Bronze'],marker={'color': '#CD7F32'})

In [0]:
data = [trace1,trace2,trace3]
layout = pygo.Layout(title = 'Medals',barmode = 'stack')

In [30]:
fig = pygo.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'