<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/bubble03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as pygo
import numpy as np

In [0]:
df = pd.read_csv('/content/auto-mpg.csv')

In [0]:
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [0]:
data = [pygo.Scatter(x = df['hp'],y = df['mpg'],text = df['name'],mode = 'markers',
                     marker = dict(size = 10* df['cyl'],color = df['cyl']))]

In [0]:

layout = pygo.Layout(title = 'Bubble Chart')

In [0]:
fig = pygo.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'