<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/DistPlot02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
import numpy as np 
import pandas as pd

In [28]:
df = pd.read_csv('/content/iris.csv')

In [29]:
df.head()

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0

In [41]:
#columns = ['petal_length','petal_width','setosa','versicolor','virginica']
df = df.rename(columns={'150': "petal_length", '4': "petal_width"})

In [43]:
df.head()

   petal_length  petal_width  setosa  versicolor  virginica
0           5.1          3.5     1.4         0.2          0
1           4.9          3.0     1.4         0.2          0
2           4.7          3.2     1.3         0.2          0
3           4.6          3.1     1.5         0.2          0
4           5.0          3.6     1.4         0.2          0

In [44]:
x = df['setosa']
y = df['versicolor'] + 14
z = df['virginica']+ 35
hist_data = [x,y,z]
group = ['setosa','versicolor','virginica']

fig = ff.create_distplot(hist_data=hist_data,group_labels = group)
pyo.plot(fig)

'temp-plot.html'