<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/HeatMap02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import tools
import numpy as np 
import pandas as pd
from plotly import tools

In [50]:
df = pd.read_csv('/content/2010SantaBarbaraCA.csv')

In [51]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [56]:
df2 = pd.read_csv('/content/2010YumaAZ.csv')

In [57]:
df2.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [64]:
data1 = go.Heatmap(x=df['DAY'], y = df['LST_TIME'],z= df['T_HR_AVG'],colorscale='Jet')
data2 = go.Heatmap(x=df2['DAY'], y = df2['LST_TIME'],z= df2['T_HR_AVG'],colorscale='Jet')
#group = ['setosa','versicolor','virginica']

fig = tools.make_subplots(rows=1,cols=2,subplot_titles=['Santa Barbara','Yuma Arizona'],shared_yaxes=True)

fig.append_trace(data1,1,1)
fig.append_trace(data2,1,2)
pyo.plot(fig)

/usr/local/lib/python3.6/dist-packages/plotly/tools.py:465: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'temp-plot.html'