<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/HeatMap01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
import numpy as np 
import pandas as pd

In [50]:
df = pd.read_csv('/content/2010SantaBarbaraCA.csv')

In [51]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      12.7
1  20100601  TUESDAY     1:00      12.7
2  20100601  TUESDAY     2:00      12.3
3  20100601  TUESDAY     3:00      12.5
4  20100601  TUESDAY     4:00      12.7

In [55]:
data = [go.Heatmap(x=df['DAY'], y = df['LST_TIME'],z= df['T_HR_AVG'].values.tolist(),colorscale='Jet')]
group = ['setosa','versicolor','virginica']

fig = ff.create_distplot(hist_data=hist_data,group_labels = group)
pyo.plot(data)

'temp-plot.html'