<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/HeatMap03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import tools
import numpy as np 
import pandas as pd
from plotly import tools

In [65]:
df = pd.read_csv('/content/flights.csv')

In [66]:
df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [67]:
data1 = go.Heatmap(x=df['year'], y = df['month'],z= df['passengers'],colorscale='Jet')

#group = ['setosa','versicolor','virginica']

# fig = tools.make_subplots(rows=1,cols=2,subplot_titles=['Santa Barbara','Yuma Arizona'],shared_yaxes=True)

# fig.append_trace(data1,1,1)
# fig.append_trace(data2,1,2)
pyo.plot([data1])

'temp-plot.html'