<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/Histogram01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np 
import pandas as pd

In [9]:
df = pd.read_csv('/content/auto-mpg.csv')

In [10]:
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [12]:
data = [go.Histogram(y=df['mpg'],name = 'Miles Per Gallon')]
layout = go.Layout(title = 'histogram')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'