<a href="https://colab.research.google.com/github/theAkhileshRai/DeepLearning/blob/master/dashboards/Plotly/LineChart03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Plotly Basics

In [0]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [0]:
df = pd.read_csv('/content/2010YumaAZ.csv')

In [4]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [5]:
df['DAY'].unique()

array(['TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY',
       'MONDAY'], dtype=object)

In [0]:
days = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [13]:
data = []
for day in days:
  trace = go.Scatter(x = df['LST_TIME'],
                     y = df[df['DAY']==day]['T_HR_AVG'],
                     mode='lines',
                     name=day)
  data.append(trace)

layout = go.Layout(title='Avg TEMP per DAY')
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [15]:
data = [{
    'x': df['LST_TIME'],
    'y': df[df['DAY']==day]['T_HR_AVG'],
    'mode': 'lines',
    'name' : 'day'
} for day in days]

layout = go.Layout(title='Avg TEMP per DAY')
fig = go.Figure(data = data,layout = layout)
pyo.plot(fig)

'temp-plot.html'